﻿<!-- Navigation and Display Controls -->
<div class="row-fluid">
    <notifications></notifications>
</div>
<div class="row-fluid panel panel-default">
    <div class="span12">
        <div class="span4">
            <h2>{{currentState.display()}}</h2>
        </div>
        <div class="btn-group span8">
            <button type="button" class="btn btn-default" ng-click="decrement()"><</button>
            <button type="button" class="btn btn-default" ng-click="increment()">></button>
            <button type="button" class="btn btn-default" ng-click="today()">Today</button>
            <button type="button" class="btn btn-default" ng-click="setState(states.day)">Day</button>
            <button type="button" class="btn btn-default" ng-click="setState(states.week)">Week</button>
            <button type="button" class="btn btn-default" ng-click="setState(states.month)">Month</button>
        </div>
    </div>
</div>
<div class="row-fluid well well-lg">
    <div class="span6"><tasks filter-expression="filterByDate()"></tasks></div>
    <div class="span6"><rewards filter-expression="filterByDate()"></rewards></div>
</div>

