﻿<div>
    <!-- Create Reward -->
    <new-event event="newReward" prompt-text="prompt" on-save="save()" ></new-event>
    <!-- Reward List -->
    <div>
        <div data-ng-repeat="reward in data.user.rewards | filter: filterExpression()">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>{{ reward.name }}</h4>    
                <div>
                    {{ reward.start | date:'short' }} - {{ reward.end | date:'short' }}
                </div>
            </div>
        </div>
        </div>
    </div>
</div>