﻿<div>
    <!-- Create Task -->
    <new-event event="newTask" prompt-text="prompt" on-save="save()" ></new-event>
    <!-- Task List -->
    <div>
        <div data-ng-repeat="task in data.user.tasks | filter: filterExpression()">
        <task task="task">
        </task>
        </div>
    </div>
</div>