﻿<ul class="nav inline">
    <li><div>Level: {{data.user.level.value}} </div>
        <div>
        Gold: {{data.user.gold}}
        </div>
           
    </li>
    <li style="width:100%; height:40%">
        <progress percent="data.user.percentComplete"></progress>
    </li>
</ul>
