﻿<div ng-hide="noteService.notifications.length <= 0">
    <alert ng-repeat="notification in noteService.notifications" type="notification.type" close="noteService.remove($index)"><h4>{{notification.message}}</h4></alert>
</div>