﻿<div class="panel panel-default">
    <div class="panel-body">
        <div class="pull-right">
            <button type="button" class="btn btn-danger" data-ng-click="deleteTask(task)">Delete</button>
            <button type="button" class="btn btn-default" data-ng-click="cancel(task)">Cancel</button>
        </div>
        <h4>Delete "{{task.name}}"?</h4>
    </div>
</div>