﻿<div class="panel panel-default">
    <form name="taskForm" class="panel-body">
        <div class="control-group">
            <input id="name" class="control span8" type="text" data-ng-model="task.name" ng-click="openForm()" ng-required="true" />
        </div>
        <div class="control-group control-row">
            <input id="startDate" class="control span5" type="text" placeholder="Start Date" ng-model="task.start" ng-required="true" datepicker-popup="dd-MMMM-yyyy" is-open="startDateOpened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" />
            <time-picker time="task.start" class="control span4"></time-picker>
        </div>
        <div class="control-group control-row">
            <input id="endDate" class="control span5" type="text" placeholder="End Date" ng-model="task.end" ng-required="true" datepicker-popup="dd-MMMM-yyyy" is-open="endDateOpened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" />
            <time-picker time="task.end" class="control span4"></time-picker>
        </div>
        <div>
            <button type="submit" data-ng-disabled="taskForm.$invalid" data-ng-click="updateTask(task)" class="btn btn-primary">Save</button>
            <button data-ng-click="cancel()" class="btn btn-default">Cancel</button>
        </div>
    </form>
</div>