﻿<div class="panel panel-default">
    <div class="panel-body">
        <div class="btn-group btn-small pull-right">
            <button class="btn" data-ng-click="showResolve(task)">
                <span class="icon-check"></span>
            </button>
            <button class="btn" data-ng-click="showDelete(task)">
                <span class="icon-remove"></span>
            </button>
            <button class="btn" data-ng-click="showEdit(task)">
                <span class="icon-pencil"></span>
            </button>
        </div>
        <h4>{{ task.name }}</h4>
        <div>
            {{ task.start | date:'short' }} - {{ task.end | date:'short' }}
        </div>
    </div>
</div>