﻿<div class="panel panel-success">
    <div class="panel-body">
        <span class="icon-ok pull-right"></span>
        <div class="pull-right">
            <h4>+{{task.experience}}xp</h4>
            <h4>+{{task.gold}} gold</h4>
        </div>
        <h4>{{ task.name }}</h4>
        <div>
            {{ task.start | date:'short' }} - {{ task.end | date:'short' }}
        </div>
    </div>
</div>