﻿<div class="panel panel-default">
    <form name="resolveForm" class="panel-body">
        <legend>Resolve <strong>{{task.name}}</strong></legend>
        <div class="form-group">
            <label for="timeSpent">Time Spent (in minutes)</label>
            <input id="timeSpent" name="timeSpent" class="form-control" type="text" data-ng-model="task.experience" ng-required="true" />
        </div>
        <div class="control-group">
        <label class="checkbox">
            <input type="checkbox" data-ng-model="task.fullyComplete"> Task is fully complete
        </label>
        </div>
        <div class="form-group" collapse="task.fullyComplete">
            <div class="control-group">Reschedule the remainder of this task?</div>
            <div class="control-group">
                <input id="newStartDate" class="control" type="text" data-ng-model="task.newStart" placeholder="New start date" />
            </div>
            <div class="control-group">
                <input id="newEndDate" class="control" type="text" data-ng-model="task.newEnd" placeholder="New end date" />
            </div>
        </div>
        <button type="submit" data-ng-disabled="editForm.$invalid" data-ng-click="resolveTask(task)" class="btn btn-primary">Save</button>
        <button data-ng-click="cancel(task)" class="btn btn-default">Cancel</button>
    </form>
</div>