﻿<div data-ng-switch on="state">
    <!-- Edit -->
    <task-edit data-ng-switch-when="edit"></task-edit>

    <!-- Delete -->
    <task-delete data-ng-switch-when="deleting"></task-delete>

    <!-- Resolve Form -->
    <task-resolving data-ng-switch-when="resolving"></task-resolving>

    <!-- Display Task Information -->
    <div data-ng-switch-default="" data-ng-switch on="task.status.name">

        <!-- Past End Date -->
        <task-past-end-date data-ng-switch-when="PastEndDate"> </task-past-end-date>

        <!-- Resolved -->
        <task-resolved data-ng-switch-when="Resolved"></task-resolved>

        <!-- Pending -->
        <task-pending data-ng-switch-default=""></task-pending>
    </div>
</div>