﻿<div class="panel panel-default">
    <form name="eventForm" class="panel-body">
        <div class="control-group">
            <input id="name" class="control span8" type="text" placeholder="{{promptText}}" data-ng-model="event.name" ng-click="openForm()" ng-change="openForm()" ng-required="!eventFormCollapsed" />
        </div>
        <div collapse="eventFormCollapsed" ng-style="overflowStyle">
            <div class="control-group control-row">
                <input id="startDate" class="control span4" type="text" placeholder="Start Date" ng-click="enableoverflowStyle()" ng-model="event.start" ng-required="!eventFormCollapsed" datepicker-popup="dd-MMMM-yyyy" is-open="startDateOpened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" />
                <time-picker time="event.start" class="control span4"></time-picker>
            </div>
            <div class="control-group control-row">
                <input id="endDate" class="control span4" type="text" placeholder="End Date" ng-click="enableoverflowStyle()" ng-model="event.end" ng-required="!eventFormCollapsed" datepicker-popup="dd-MMMM-yyyy" is-open="endDateOpened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" />
                <time-picker time="event.end" class="control span4"></time-picker>
            </div>
            <div>
                <button type="submit" data-ng-disabled="eventForm.$invalid" data-ng-click="save(eventForm)" class="btn btn-primary">Save</button>
                <button data-ng-click="cancel()" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </form>
</div>