﻿<!DOCTYPE html>
<html lang="en" data-ng-app="TaskManagementApp">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Task Management</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>

        <div id="body" class="container">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - </p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.2.1/moment.min.js"></script>
        <script src="~/Scripts/angular.min.js"></script>
        <script src="~/Scripts/angular-resource.min.js"></script>
        @Scripts.Render("~/bundles/bootstrap")
        <script src="~/Scripts/ui-bootstrap-tpls-0.6.0.js"></script>
        @Scripts.Render("~/bundles/appScripts");
        @RenderSection("scripts", required: false)
    </body>
</html>
