﻿@{
    ViewBag.Title = "Tasks";
}
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <div class="nav-collapse collapse">
            <ul class="nav">
                <li><a ng-href="#/Calendar">Calendar</a></li>
                <li><a ng-href="#/Statistics">Statistics</a></li>
                <li><a>Friends</a></li>

            </ul>
            </div><!--/.nav-collapse -->
            <div class="span4" style="color: white; margin-top: 10px" ng-controller="UserCtrl">
                <span class="pull-left" >Level: {{data.user.level.value}}<br /> Gold: {{data.user.gold}}</span>
                 <progress class="span3" percent="data.user.percentComplete"></progress>
                <span>{{data.user.nextLevel.value}}</span>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span10" ng-view></div>
    </div>
    
</div>
